body {
     background: url("../img/bakery.jpg") no-repeat;
     margin: 0; /* Убираем отступы */
     height: 100%; /* Высота страницы */
     background-size: cover; /* Фон занимает всю доступную площадь */
}

aside {
    float: left;
    widht: 600px;
    margin-left: 10px;
    margin-right: 50px;
    color: black;
    font-size: 18px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    padding-right: 10px;
}

nav div {
    align-items: center;
}


ul {
    list-style: none;
}

nav h1 {
    padding-left: 90px;
    padding-top: 140px;
    font-size: 64px;
    font-family: "Lucida Calligraphy";
}
nav h4 {
    padding-left: 90px;
    font-family: "Book Antiqua";
}
.admin_btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;


}
.admin_btn:hover {
    border: solid 2px palevioletred;
}

a {
    color: Black !important;
    text-decoration: none !important;
}

 aside ul li {
    color: black;
    display: block;
    margin-top: 10px;
    padding:10px 70px;
    background-color: aliceblue;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    transition: all .2s ease;
}
#aside_first_item{
    background-color: blueviolet;
}

aside ul li:hover {
    background-color: #E1D3E9;
    cursor: pointer;
    transform: scale(1.05);
}

.bakery-image {
    width: 100%;
}

.items {
     display:flex;
     flex-direction: row;
     flex-wrap: wrap;
}
.bakery-item {
    display: flex;
    height: 440px;
    width: 300px;
    background-color: darkgray;
    margin: 15px;
    flex-direction:column;
    justify-content: space-between;
    padding: 15px;

}

.row {
    justify-content:center;
    align-items: center;
}

.col-8 {
    padding: 10px;
}

.btn-buy {
   background-color: blueviolet;
    float: right;
    transition: all .2s ease;
}

.btn-buy:hover{
     transform: scale(1.05);
}

.btn-circle {
    position: absolute;
    top: 0;
    right: 0;

    top:250px;
    width: 38px;
    height: 38px;
    border-radius: 25px;
    text-align: center;
    margin-right: 30px;
    font-size: 16px;
}

form {
    margin-left: 32%;
    width: 400px;
    margin-top: 50px;
    margin-button: 50px;
    margin-bottom: 50px;


}
.form_name {
     margin-left: 32%;

 }

.bakery-row{
    height: 600px;
    width: 100%;
    padding-right: 90px;
    margin-top:10px;


}

.rows {
    display: flex;
    flex-direction: row;
    background-color: darkgray;
    padding: 30px;
    font-size: 17px;

}

.div1{
    width: 300px;
}

.div2{
    padding: 50px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.input-group{
    position: absolute;
    top:103px;
    right: 90px;
    width: 200px;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
    z-index:0;
}

