{% extends 'layout.html' %}

{% block tittle %}Главная страница ChocoRose{% endblock %}

{% block content %}
{% if searched %}
 <h4>Вы искали: {{searched}}</h4>

<div class = "items">
   {% for ba in bakyries %}
      <div class="bakery-item">
            <div class="row">
                 <div class="col-8">
                    {% if ba.image %}
                     <img class="bakery-image" src="{{ba.image.url}}">
                    {% endif %}
                </div>
                <p align="center"><b >{{ba.category}} "{{ba.name}}"</b></p>
                <p align="center"> Состав: {{ba.text}}</p>
            </div>

          <div> Вес: {{ba.weight}} гр.<a href="{% url 'bakery_detail' ba.id %}"> <button class="btn-buy">купи</button></a></div>

      </div>

   {% endfor %}
</div>
{%else%}
 <h4>Увы такого не нашли: {{searched}}</h4>
{%endif %}
{% endblock %}